nav {
  margin: 0;
  padding: 25px 0;
  background: var(--color-sec-bg);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-shadow: -11px -7px 19px 0px #fff;
  position: sticky;
}

.nav-ico a {
  font-family: var(--font-family);
  color: var(--color-sec-bg);
  font-size: 22px;
  font-weight: 600;
  color: var(--color-bg);
}

.nav-links {
  transition: 0.5s ease-in-out;
}

.nav-links ul,
.social-link ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav-links ul li {
  list-style: none;
  padding: 0 15px;
}
.nav-links ul li a {
  font-family: var(--sec-font-family);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text);
}
.nav-links ul li button {
  padding: 8px 30px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 25px;
  background: transparent;
  color: var(--color-bg);
  cursor: pointer;
}
.social-link ul li {
  list-style: none;
  padding: 0 5px;
}
.social-link ul li a {
  font-size: 20px;
  color: var(--color-text);
}

.social-link {
  display: flex;
  align-items: center;
}
.social-link .cart-ico {
  margin-left: 25px;
  font-size: 20px;
  color: var(--color-text);
}

.res-ico {
  display: none;
  cursor: pointer;
}

.res-ico svg {
  color: var(--color-bg);
  font-size: 23px;
}

@media only screen and (max-width: 960px) {
  .res-ico {
    display: block;
  }
  .nav-links {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 42px;
    right: -20px;

    opacity: 0;
    background: var(--color-sub-text);
    color: var(--color-text);
    width: 180px;
    height: 200px;
    border-radius: 50% 0 50% 50%;

    transition: 0.5s ease-in-out;
  }

  .nav-links.mobile-nav-links {
    visibility: visible;
    position: absolute;
    top: 72px;
    right: 0;

    height: 100vh;
    width: 100%;
    opacity: 1;
    border-radius: 0;
  }

  .nav-links ul,
  .mobile-nav-links ul {
    flex-direction: column;
  }
  .nav-links ul li {
    padding: 10px 0;
    transform: translateX(50px);
    transition: calc(0.5s * var(--i-)) ease-in;
  }
  .mobile-nav-links ul li {
    padding: 10px 0;
    transform: translateX(0);
  }
  .mobile-nav-links ul li a {
    font-size: 20px;
  }
  .social-link {
    display: none;
  }
  .social-link ul li {
    padding: 0 10px;
    transition: calc(0.5s * var(--i-)) ease-in-out;
    transform: translateX(50px);
  }

  .social-link ul li a {
    font-size: 25px;
  }

  .mobile-social-link {
    display: flex;
  }
  .mobile-social-link ul li {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 420px) {
  .social-link {
    display: none;
  }
  .nav-ico a {
    font-size: 18px;
  }
  .res-ico {
    display: block;
  }
  .nav-links {
    top: 42px;
    right: -20px;
  }

  .nav-links.mobile-nav-links {
    top: 65px;
    right: 0;
  }

  .nav-links ul,
  .mobile-nav-links ul {
    flex-direction: column;
  }
}
