* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}
a:hover:focus {
  color: unset;
  text-decoration: none;
}
.container {
  padding-right: 110px;
  padding-left: 110px;
}
.section__margin {
  margin: 4rem 6rem;
}
.section__padding {
  padding: 4rem 6rem;
}

@media screen and (max-width: 450px) {
  .container {
    padding-right: 35px;
    padding-left: 35px;
  }
}
@media screen and (max-width: 1080px) {
  .container {
    padding-right: 60px;
    padding-left: 60px;
  }
}
