@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
  --sec-font-family: "Poppins", sans-serif;

  --color-bg: #fff;
  --color-sec-bg: #000;
  --color-card-bg: #1b191a;
  --color-text: #e2e2e2;
  --color-sub-text: #f3d333;
  --color-text-head: #000;
}
